body
  background-color transparent

header
  .messages
    width 100%
    position absolute
    > div
      padding-left 80px
    color white
    font-family HelveticaNeue, Arial
    font-size 32px
    text-shadow 0 3px 10px rgba(1,1,1,1)

    strong
      display block

  img
    position absolute
    top 0
    left 0
    width 100px
    height 100px

#chat
  position absolute
  bottom 0
  left 0
  width 100%
  height chat-height
  border none
